<module name="kandula">
    <inflow>
        <handler name="TransactionInHandler" class="org.apache.kandula.participant.TransactionInHandler">
            <order phase="PostDispatch"/>
        </handler>
    </inflow>

    <outflow>
        <handler name="TransactionOutHandler" class="org.apache.kandula.initiator.TransactionOutHandler">
            <order phase="MessageOut"/>
        </handler>
    </outflow>
</module>